<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formdata</title>
</head>
<body>
    <p>First name: <%= fname %></p>
    <p>Last name: <%= lname %></p>
    <p>Email: <%= email %></p>
</body>
</html>