<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jsondata</title>
</head>
<body>
    <p>Some person test</p>
    <p>His name is <%= name %> and he works as a <%= job %> with <%= exp %> years of experience.</p>
</body>
</html>